<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login_page.css') }}">

</head>
<body>
    <header>
        <h1>Login</h1>
    </header>

    <main>
        <form method="POST" action="{{ url_for('login') }}">
            <label for="username">Username:</label>
            <input type="text" name="username" required>
            
            <label for="password">Password:</label>
            <input type="password" name="password" required>

            <!-- <label for="email">Email:</label>
            <input type="email" name="email" required> -->
            
            <button type="submit">Login</button>
        </form>
        
        <p>Don't have an account? <a href="{{ url_for('register') }}">Register here</a></p>
    </main>
</body>
</html>
